@model PWEB_Estagios.Models.Estatisticas

@{
    ViewBag.Title = "Estatisticas";
}

<h2>Estatisticas</h2>

<div>
    <h4>Estatisticas</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.NAlunos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAlunos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NPropostas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NPropostas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NDocentes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NDocentes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NCandidaturas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NCandidaturas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NEmpresas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NEmpresas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaMaisProcurada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaMaisProcurada.Nome)
        </dd>

        <dt>
            @Html.DisplayName("ID Empresa")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaMaisProcurada.EmpresaId)
        </dd>
        


    </dl>
</div>
