@model PWEB_Estagios.Models.Empresa

@{
    ViewBag.Title = "Perfil";
}

<h2>Perfil</h2>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sede)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaNIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpresaNIF)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit")
</p>
