@model IEnumerable<PWEB_Estagios.Models.Mensagem>

@{
    ViewBag.Title = "LerMensagem";
}

<h2>LerMensagem</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aluno.PrimeiroNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Docente.PrimeiroNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aluno.PrimeiroNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Docente.PrimeiroNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
    </tr>
}

</table>
